html {
    font: 16px "Work Sans", Verdana, sans-serif;
}







.Cat {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
}


.Cat .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
}

.Cat h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .Cat p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
  }

  .popup {
      border: 2px solid black;
  }